<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="InformationsTiles" type="System.Configuration.DictionarySectionHandler"/>
    <section name="InformationMur" type="System.Configuration.DictionarySectionHandler"/>
    <section name="InformationsMap" type="System.Configuration.DictionarySectionHandler"/>
    <section name="ConfigMap" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <InformationsTiles>
    <add key ="fileTilesName" value ="TestMap.png"/>
    <add key ="HauteurFile" value ="16"/>
    <add key ="largeurFile" value ="96"/>
    <add key ="tilesParLigne" value ="6"/>
    <add key ="tilesParColonne" value ="1"/>
    <add key ="hauteurTiles" value ="16"/>
    <add key ="largeurTiles" value ="16"/>
  </InformationsTiles>

  <InformationMur>
    <add key ="tiles0" value ="vide"/>
    <add key ="tiles1" value ="vide"/>
    <add key ="tiles2" value ="plein"/>
    <add key ="tiles3" value ="plein"/>
    <add key ="tiles4" value ="plein"/>
    <add key ="tiles5" value ="vide"/>
  </InformationMur>

  <InformationsMap>
    <add key ="hauteur" value ="15"/>
    <add key ="largeur" value ="13"/>
  </InformationsMap>

  <ConfigMap>
    <add key ="bloc0" value ="1"/>
    <add key ="bloc1" value ="0"/>
    <add key ="bloc2" value ="0"/>
    <add key ="bloc3" value ="0"/>
    <add key ="bloc4" value ="1"/>
    <add key ="bloc6" value ="0"/>
    <add key ="bloc7" value ="0"/>
    <add key ="bloc8" value ="0"/>
    <add key ="bloc9" value ="0"/>
    <add key ="bloc10" value ="0"/>
    <add key ="bloc11" value ="0"/>
    <add key ="bloc12" value ="1"/>
    <add key ="bloc13" value ="5"/>
    <add key ="bloc14" value ="5"/>
    <add key ="bloc15" value ="5"/>
    <add key ="bloc16" value ="5"/>
    <add key ="bloc17" value ="1"/>
    <add key ="bloc18" value ="1"/>
    <add key ="bloc19" value ="0"/>
    <add key ="bloc20" value ="0"/>
    <add key ="bloc21" value ="0"/>
    <add key ="bloc22" value ="0"/>
    <add key ="bloc23" value ="0"/>
    <add key ="bloc24" value ="0"/>
    <add key ="bloc25" value ="0"/>
    <add key ="bloc26" value ="5"/>
    <add key ="bloc27" value ="5"/>
    <add key ="bloc28" value ="5"/>
    <add key ="bloc29" value ="5"/>
    <add key ="bloc30" value ="5"/>
    <add key ="bloc31" value ="0"/>
    <add key ="bloc32" value ="0"/>
    <add key ="bloc33" value ="0"/>
    <add key ="bloc34" value ="0"/>
    <add key ="bloc35" value ="0"/>
    <add key ="bloc36" value ="0"/>
    <add key ="bloc37" value ="0"/>
    <add key ="bloc38" value ="0"/>
    <add key ="bloc39" value ="0"/>
    <add key ="bloc40" value ="1"/>
    <add key ="bloc41" value ="0"/>
    <add key ="bloc42" value ="0"/>
    <add key ="bloc43" value ="0"/>
    <add key ="bloc44" value ="0"/>
    <add key ="bloc45" value ="0"/>
    <add key ="bloc46" value ="1"/>
    <add key ="bloc47" value ="0"/>
    <add key ="bloc48" value ="0"/>
    <add key ="bloc49" value ="0"/>
    <add key ="bloc50" value ="0"/>
    <add key ="bloc51" value ="0"/>
    <add key ="bloc52" value ="0"/>
    <add key ="bloc53" value ="0"/>
    <add key ="bloc54" value ="0"/>
    <add key ="bloc55" value ="0"/>
    <add key ="bloc56" value ="0"/>
    <add key ="bloc57" value ="0"/>
    <add key ="bloc58" value ="0"/>
    <add key ="bloc59" value ="0"/>
    <add key ="bloc60" value ="0"/>
    <add key ="bloc61" value ="1"/>
    <add key ="bloc62" value ="0"/>
    <add key ="bloc63" value ="0"/>
    <add key ="bloc64" value ="0"/>
    <add key ="bloc65" value ="0"/>
    <add key ="bloc66" value ="0"/>
    <add key ="bloc67" value ="0"/>
    <add key ="bloc68" value ="0"/>
    <add key ="bloc69" value ="0"/>
    <add key ="bloc70" value ="0"/>
    <add key ="bloc71" value ="0"/>
    <add key ="bloc72" value ="0"/>
    <add key ="bloc73" value ="0"/>
    <add key ="bloc74" value ="0"/>
    <add key ="bloc75" value ="2"/>
    <add key ="bloc76" value ="3"/>
    <add key ="bloc77" value ="4"/>
    <add key ="bloc78" value ="5"/>
    <add key ="bloc79" value ="0"/>
    <add key ="bloc80" value ="0"/>
    <add key ="bloc81" value ="0"/>
    <add key ="bloc82" value ="0"/>
    <add key ="bloc83" value ="0"/>
    <add key ="bloc84" value ="0"/>
    <add key ="bloc85" value ="0"/>
    <add key ="bloc86" value ="0"/>
    <add key ="bloc87" value ="0"/>
    <add key ="bloc88" value ="0"/>
    <add key ="bloc89" value ="0"/>
    <add key ="bloc90" value ="0"/>
    <add key ="bloc91" value ="0"/>
    <add key ="bloc92" value ="0"/>
    <add key ="bloc93" value ="0"/>
    <add key ="bloc94" value ="0"/>
    <add key ="bloc95" value ="0"/>
    <add key ="bloc96" value ="0"/>
    <add key ="bloc97" value ="0"/>
    <add key ="bloc98" value ="0"/>
    <add key ="bloc99" value ="0"/>
    <add key ="bloc100" value ="0"/>
    <add key ="bloc101" value ="0"/>
    <add key ="bloc102" value ="0"/>
    <add key ="bloc103" value ="0"/>
    <add key ="bloc104" value ="0"/>
    <add key ="bloc105" value ="0"/>
    <add key ="bloc106" value ="0"/>
    <add key ="bloc107" value ="0"/>
    <add key ="bloc108" value ="0"/>
    <add key ="bloc109" value ="0"/>
    <add key ="bloc110" value ="0"/>
    <add key ="bloc111" value ="0"/>
    <add key ="bloc112" value ="0"/>
    <add key ="bloc113" value ="0"/>
    <add key ="bloc114" value ="0"/>
    <add key ="bloc115" value ="0"/>
    <add key ="bloc116" value ="0"/>
    <add key ="bloc117" value ="0"/>
    <add key ="bloc118" value ="0"/>
    <add key ="bloc119" value ="0"/>
    <add key ="bloc120" value ="0"/>
    <add key ="bloc121" value ="0"/>
    <add key ="bloc122" value ="0"/>
    <add key ="bloc123" value ="0"/>
    <add key ="bloc124" value ="0"/>
    <add key ="bloc125" value ="0"/>
    <add key ="bloc126" value ="0"/>
    <add key ="bloc127" value ="0"/>
    <add key ="bloc128" value ="0"/>
    <add key ="bloc129" value ="0"/>
    <add key ="bloc130" value ="0"/>
    <add key ="bloc131" value ="0"/>
    <add key ="bloc132" value ="0"/>
    <add key ="bloc133" value ="0"/>
    <add key ="bloc134" value ="2"/>
    <add key ="bloc135" value ="3"/>
    <add key ="bloc136" value ="4"/>
    <add key ="bloc137" value ="5"/>
    <add key ="bloc138" value ="0"/>
    <add key ="bloc139" value ="0"/>
    <add key ="bloc140" value ="1"/>
    <add key ="bloc141" value ="1"/>
    <add key ="bloc142" value ="1"/>
    <add key ="bloc143" value ="1"/>
    <add key ="bloc144" value ="0"/>
    <add key ="bloc145" value ="0"/>
    <add key ="bloc146" value ="0"/>
    <add key ="bloc147" value ="0"/>
    <add key ="bloc148" value ="0"/>
    <add key ="bloc149" value ="0"/>
    <add key ="bloc150" value ="0"/>
    <add key ="bloc151" value ="0"/>
    <add key ="bloc152" value ="0"/>
    <add key ="bloc153" value ="0"/>
    <add key ="bloc154" value ="0"/>
    <add key ="bloc155" value ="0"/>
    <add key ="bloc156" value ="0"/>
    <add key ="bloc157" value ="0"/>
    <add key ="bloc158" value ="0"/>
    <add key ="bloc159" value ="0"/>
    <add key ="bloc160" value ="0"/>
    <add key ="bloc161" value ="0"/>
    <add key ="bloc162" value ="0"/>
    <add key ="bloc163" value ="0"/>
    <add key ="bloc164" value ="0"/>
    <add key ="bloc165" value ="0"/>
    <add key ="bloc166" value ="0"/>
    <add key ="bloc167" value ="0"/>
    <add key ="bloc168" value ="0"/>
    <add key ="bloc169" value ="0"/>
    <add key ="bloc170" value ="0"/>
    <add key ="bloc171" value ="0"/>
    <add key ="bloc172" value ="0"/>
    <add key ="bloc173" value ="0"/>
    <add key ="bloc174" value ="0"/>
    <add key ="bloc175" value ="0"/>
    <add key ="bloc176" value ="0"/>
    <add key ="bloc177" value ="0"/>
    <add key ="bloc178" value ="0"/>
    <add key ="bloc179" value ="0"/>
    <add key ="bloc180" value ="0"/>
    <add key ="bloc181" value ="0"/>
    <add key ="bloc182" value ="0"/>
    <add key ="bloc183" value ="0"/>
    <add key ="bloc184" value ="0"/>
    <add key ="bloc185" value ="0"/>
    <add key ="bloc186" value ="0"/>
    <add key ="bloc187" value ="0"/>
    <add key ="bloc188" value ="0"/>
    <add key ="bloc189" value ="0"/>
    <add key ="bloc190" value ="0"/>
    <add key ="bloc191" value ="0"/>
    <add key ="bloc192" value ="0"/>
    <add key ="bloc193" value ="0"/>
    <add key ="bloc194" value ="0"/>
  </ConfigMap>
</configuration>